@use '../utils/' as utils;

h1,
h2,
h3 {
	font-weight: 700;
	line-height: 1.1;
	margin-top: 0;
}

h1 {
	font-size: utils.rem(42);
	font-size: clamp(utils.rem(42), 1.77rem + 3.64vw, utils.rem(72));
}

h2 {
	font-size: utils.rem(36);
	font-size: clamp(utils.rem(36), 1.91rem + 1.45vw, utils.rem(48));
}

h3 {
	font-size: utils.rem(24);
}

p {
	margin-top: 0;
	font-size: utils.rem(16);
}

a,
a:visited,
a:active {
	text-decoration: none;
}
